@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Poppins';
}

.profile-wrapper #photo-profile {
    margin-top: 3vh;
    margin-left: 3vh;
}

form {
    display: grid;
    place-items: center;
    margin-top: 10vh;
}

form .photo-file {
    width: 100vh;
    height: 50vh;
    margin-right: 49vh;
    background-image: url('../images/nasi\ goreng.avif');
    border-radius: 10px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

form .photo-file input[type="file"] {
    display: none;
}

form .photo-file label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-left: 26vh;
    width: 50vh;
    height: 7vh;
    background-color: #4f8cf5;
    color: white;
    border-radius: 6px;
}

form #title {
    width: 150vh;
    height: 50px;
    border: 1px solid #8692A6;
    border-radius: 6px;
    padding: 2vh;
}

form #ingredient {
    width: 150vh;
    height: 50vh;
    border: 1px solid #8692A6;
    border-radius: 6px;
}

form #category {
    width: 140px;
    height: 50px;
    border: 1px solid #8692A6;
    border-radius: 6px;
    margin-right: 129vh;
    color: #8692A6;
    padding: 1vh;
    appearance: none;
}

form #title:focus, form #ingredient:focus, form #category:focus {
    outline: none;
}

form button {
    background-color: #EFC81A;
    border: 1px solid #EFC81A;
    border-radius: 5px;
    margin-top: 100px;
    width: 400px;
    height: 50px;
}

footer, .footer-motto, .footer-sub-motto {
    text-align: center;
    margin-top: 2vh;
    padding: 20px;
    background-color: #EFC81A;
    color: black;
}

footer, .footer-nav {
    background-color: #EFC81A;
    color: black;
    margin-top: 20vh;
}

footer .footer-company {
    background-color: #EFC81A;
    color: black;
    margin-left: 150vh;
    margin-top: -5vh;
}