@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root {
    --yellow: #EFC81A;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    background-color: #FFFFFF;
}

.profile-wrapper #photo-profile {
    margin-top: 3vh;
    margin-left: 3vh;
}

.category {
    margin-top: 3vh;
    margin-bottom: 15vh;
    padding-left: 10vh;
}

.search-bar, input[name="menu"] {
    padding-left: 7vh;
}

.card-recipe, .recipe-info {
    display: grid;
    grid-column-start: 1;
    grid-column-start: 7;
    margin: 10vh 0 10vh 18vh;
    overflow: hidden;
}

.card-recipe .recipe-info .reaction-row {
    background-color: var(--yellow);
    padding: 2vh 1vh 5vh 2vh;
    width: 60vh;
    height: 2vh;
}

.pagination, .button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

footer, .footer-motto, .footer-sub-motto {
    text-align: center;
    margin-top: 2vh;
    padding: 20px;
    background-color: var(--yellow);
    color: black;
}

footer, .footer-nav {
    background-color: var(--yellow);
    color: black;
    margin-top: 20vh;
}

footer .footer-company {
    background-color: var(--yellow);
    color: black;
    margin-left: 150vh;
    margin-top: -5vh;
}