@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    background-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header #title, #title-motto {
    font-size: 30px;
    font-weight: 700;
    color: #EFC81A;
    line-height: 75px;
    margin-top: -10px;
}

header #info {
    margin-top: -20px;
    font-size: 18px;
    color: #8692A6;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.label-name, .label-email, .label-password {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

input[name="name"], input[name="email"], input[name="password"] {
    padding: 12px 125px 12px 125px;
    margin: 0 0 30px 0;
}

input[name="name"]::placeholder, input[name="email"]::placeholder, input[name="password"]::placeholder {
    padding: 12px 0px 120px 125px;
}

.agree-terms {
    font-size: 16px;
    color: #696F79;
}

.input[name="agree-terms"]:checked {
    color:#EFC81A; 
}

button {
    background-color: #EFC81A; 
    padding: 20px 190px 20px 140px;
    margin-top: 30px;
}

.question-text {
    text-align: center;
    color: #999999;
}

.question-text .link {
    color:#EFC81A; 
}