:root {
    --yellow: #EFC81A;
}

footer, .footer-motto, .footer-sub-motto {
    text-align: center;
    margin-top: 2vh;
    padding: 20px;
    background-color: var(--yellow);
    color: black;
}

footer, .footer-nav {
    background-color: var(--yellow);
    color: black;
    margin-top: 20vh;
}

footer .footer-company {
    background-color: var(--yellow);
    color: black;
    margin-left: 3vh;
    margin-top: 5vh;
}

.recipes-popular .img-recipe-1 {
    width: 100vh;
    height: 50vh;
    background-image: url('../images/Rectangle\ 314.avif');
    border-radius: 20px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

.recipes-popular .img-recipe-2 {
    width: 50vh;
    height: 50vh;
    background-image: url('../images/Rectangle\ 315.avif');
    border-radius: 20px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

.recipes-popular .img-recipe-3 {
    width: 50vh;
    height: 50vh;
    background-image: url('../images/Rectangle\ 316.avif');
    border-radius: 20px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

.recipes-popular .img-recipe-4 {
    width: 50vh;
    height: 50vh;
    background-image: url('../images/Rectangle\ 317.avif');
    border-radius: 20px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

.recipes-popular .img-recipe-5 {
    width: 50vh;
    height: 50vh;
    background-image: url('../images/Rectangle\ 318.avif');
    border-radius: 20px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

.recipes-popular .img-recipe-6 {
    width: 50vh;
    height: 50vh;
    background-image: url('../images/Rectangle\ 319.avif');
    border-radius: 20px;
    background-clip: content-box;
    background-repeat: space;
    background-size: cover;
}

.recipe-popular-group {
    margin-bottom: 6vh;
}

.recipes-popular .img-recipe-1 p {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 35vh;
    background-color: transparent;
    font-size: 4vh;
    margin-left: 2vh;
}

.recipes-popular .img-recipe-2 p {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 35vh;
    background-color: transparent;
    font-size: 4vh;
    margin-left: 2vh;
}

.recipes-popular .img-recipe-3 p {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 35vh;
    background-color: transparent;
    font-size: 4vh;
    margin-left: 2vh;
}

.recipes-popular .img-recipe-4 p {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 35vh;
    background-color: transparent;
    font-size: 4vh;
    margin-left: 2vh;
}

.recipes-popular .img-recipe-5 p {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 35vh;
    background-color: transparent;
    font-size: 4vh;
    margin-left: 2vh;
}

.recipes-popular .img-recipe-6 p {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 35vh;
    background-color: transparent;
    font-size: 4vh;
    margin-left: 2vh;
}

@media (min-width: 992px) {
    .first-image {
        margin-top: -50vh;
        margin-right: 10vh;
    }

    .single-popular-recipe a img {
        margin-top: -10vh;
        margin-left: 15vh;
    }

    .ingredient-popular-recipe {
        margin-top: -50vh;
        margin-bottom: 40vh;
    }

    .single-new-recipe a img {
        margin-left: 15vh;
        margin-top: 10vh;
    }

    .ingredient-new-recipe {
        margin-top: -50vh;
        margin-bottom: 40vh;
    }

    footer, .footer-motto, .footer-sub-motto {
        text-align: center;
        margin-top: 2vh;
        padding: 20px;
        background-color: var(--yellow);
        color: black;
    }

    footer, .footer-nav {
        background-color: var(--yellow);
        color: black;
        margin-top: 20vh;
    }

    footer .footer-company {
        background-color: var(--yellow);
        color: black;
        margin-left: 150vh;
        margin-top: -5vh;
    }

    .recipes-popular .img-recipe-1 {
        width: 100vh;
        height: 50vh;
        background-image: url('../images/Rectangle\ 314.avif');
        border-radius: 20px;
        background-clip: content-box;
        background-repeat: space;
        background-size: cover;
    }

    .recipes-popular .img-recipe-2 {
        width: 50vh;
        height: 50vh;
        background-image: url('../images/Rectangle\ 315.avif');
        border-radius: 20px;
        background-clip: content-box;
        background-repeat: space;
        background-size: cover;
    }

    .recipes-popular .img-recipe-3 {
        width: 50vh;
        height: 50vh;
        background-image: url('../images/Rectangle\ 316.avif');
        border-radius: 20px;
        background-clip: content-box;
        background-repeat: space;
        background-size: cover;
    }

    .recipes-popular .img-recipe-4 {
        width: 50vh;
        height: 50vh;
        background-image: url('../images/Rectangle\ 317.avif');
        border-radius: 20px;
        background-clip: content-box;
        background-repeat: space;
        background-size: cover;
    }

    .recipes-popular .img-recipe-5 {
        width: 50vh;
        height: 50vh;
        background-image: url('../images/Rectangle\ 318.avif');
        border-radius: 20px;
        background-clip: content-box;
        background-repeat: space;
        background-size: cover;
    }

    .recipes-popular .img-recipe-6 {
        width: 50vh;
        height: 50vh;
        background-image: url('../images/Rectangle\ 319.avif');
        border-radius: 20px;
        background-clip: content-box;
        background-repeat: space;
        background-size: cover;
    }

    .recipe-popular-group {
        margin-bottom: 4vh;
    }

    .recipes-popular .img-recipe-1 p {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 35vh;
        background-color: transparent;
        font-size: 4vh;
        margin-left: 2vh;
    }

    .recipes-popular .img-recipe-2 p {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 35vh;
        background-color: transparent;
        font-size: 4vh;
        margin-left: 2vh;
    }

    .recipes-popular .img-recipe-3 p {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 35vh;
        background-color: transparent;
        font-size: 4vh;
        margin-left: 2vh;
    }

    .recipes-popular .img-recipe-4 p {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 35vh;
        background-color: transparent;
        font-size: 4vh;
        margin-left: 2vh;
    }

    .recipes-popular .img-recipe-5 p {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 35vh;
        background-color: transparent;
        font-size: 4vh;
        margin-left: 2vh;
    }

    .recipes-popular .img-recipe-6 p {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 35vh;
        background-color: transparent;
        font-size: 4vh;
        margin-left: 2vh;
    }
}